<div class="main top-main">
  <div class="top-message">
    <h1>Welcome!</h1>
    <h2>PGS</h2>
    <p>Let's share together</p>
    <p><%= link_to "admin signup",a_signup_path %></p>
    <p><%= link_to "admin login",a_login_path %></p>
  </div>
</div>


