<div class="main items-index">
  <div class="container">
    <h1 class="users-heading">Note Index</h1>
  	<% @items.each do |item| %>
      <div class="items-index-item">
        <div class="item-left">
            <% if item.user.profile_image.attached? %>
              <%= image_tag item.user.profile_image %>
            <% end %>
        </div>
        <div class="item-right">
          <div class="item-user-name">
           <%= link_to item.user.name, user_path(item.user)%>
          </div>
           <%= link_to item.title, item_path(item) %>
        </div>
      </div>
    <% end %>
  </div>
</div>